body {
    background-image: url(https://i.imgur.com/nYtLwxP.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html {
    height: 100%;
    margin: 0;
}

header {
    margin-top: 30px;
    margin-bottom: 30px
}

h1 {
    font-size: 60px;
    text-align: center;
    font: Sans serif;
    color: #FF8C00;
    text-shadow: 2px 2px black;
}

h2 {
    font-size: 50px;
    text-align: center;
    font: Sans serif;
    color: #FF8C00;
    text-shadow: 2px 2px black;
}

h3 {
    margin-top: 20px;
}

.buttonControl,
.triviaSelection {
    text-align: center;
}

.startQuiz,
.next {
    background-color: #CD853F;
    border-radius: 12px;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    font: Sans serif;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 9px #999;
}

.startQuiz:active,
.next:active {
    /*color: #FF8C00;*/
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.startQuiz:hover,
.next:hover {
    background-color: #8B4513;
}

.quizContent,
.results {
    border: 2px solid black;
    margin: 70px auto;
    height: 300px;
    width: 500px;
    background-color: #F5F5DC;
    border-radius: 25px
}

form {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    position: center;
    font-size: 20px;
    color: black;
    margin-left: 30px;
    margin-top: 35px;
    margin-right: 30px;
}

input {
    position: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: 20px;
}

.triviaDropDown,
#num-questions-entry {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 14px;
}

label {
    font-size: 20px;
}